@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
	font-family: 'Nanum Gothic';
	overflow: hidden;
}
#bodyFrame{
	width: 1070px;
	height:560px;
	margin: auto;
}


#peopleList{
	width: 100%;
	height: 100px;
	top: 0px;
	display: block;
	position: relative;
}
#workList{
	width: 100%;
	height: 460px;
	top: 0px;
	display: block;
	position: relative;	
}
.team{
	font-size: 36px;
	font-weight: bold;
	width:385px;
	display: inline-block;
	position: relative;
}
.person1{
	font-size: 12px;
	width:225px;
	display: inline-block;
	position: relative;
}
.person2{
	font-size: 12px;
	width:225px;
	display: inline-block;
	position: relative;
}
.person3{
	font-size: 12px;
	width:220px;
	display: inline-block;
	position: relative;
}


.work{
	display: block;
	position: relative;
	margin-bottom: 20px;
}

#black{
	transition: 1s;
	display: none;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.95);
}
#btnClose{
	float: right;
	margin: 10px;
}
#pop{
	display: none;
	position: absolute;
	left:50%;
	top:50%;
}
#Tproj{
	width:760px;
	height:920px;
	border: none;
	-webkit-transform: scale(0.7, 0.7);
}
#Sproj1{
	width:452px;
	height:356px;
	border: none;
}
#Sproj2{
	width:960px;
	height:576px;
	border: none;
}
#Jproj1{
	width:570px;
	height:354px;
	border: none;
}
#Jproj2{
	width:200px;
	height:270px;
	border: none;
}