body {
	overflow-x: hidden;
	height: 100%;
}

.thum_wr {
	border: black 2px solid;
	width: 134px;
	height: 184px;
	top: 10px;
	left: 10px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	transition: 0.3s;
	margin-right: 12px;
	margin-top: 6px;
	overflow: hidden;
}

.thum_img {
	position: relative;
	width : 120px;
	top : 7px;
	left : 7px;
}

.info {
	color : black;
	position: relative;
	margin-top: 12px;
	left: 10px;
	letter-spacing: 2px;
	line-height: 20px;
	font-size: 12px;
}

#Q3_wr {
	position: relative;
	top: 0px;
	left: 8%;
	width: 80%;
	padding-bottom: 20px;
}

#Q4_wr {
	position: relative;
	top: 0px;
	left: 8%;
	width: 80%;
	padding-bottom: 20px;	
}

#Q5_wr {
	position: relative;
	top: 0px;
	left: 8%;
	width: 80%;
	padding-bottom: 40px;
}

#cover {
	height: 260px;
}

#logo {
	left: 20px;
	position: relative;
	display: block;
}

.label {
	margin-top: 10px;
	letter-spacing: 3px;
	line-height: 20px;
	font-size: 12px;
	left: 12px;
	position: relative;
	display: inline-block;
	color: black;
	left: 8%;
}

#labelQ3 {
	color: black;
	background: white;
	border-right: 2px solid rgb(237, 47, 116);
	border-bottom: 2px solid rgb(237, 47, 116);
}

#labelQ4 {
	color: black;
	background: white;
	border-right: 2px solid rgb(0, 98, 255);
	border-bottom: 2px solid rgb(0, 98, 255);
}

#labelQ5 {
	color: black;
	background: white;
	border-right: 2px solid rgb(155, 0, 255);
	border-bottom: 2px solid rgb(155, 0, 255);
}

#im_scr {
	letter-spacing: 2px;
	line-height: 20px;
	font-size: 13px;
	left: 25px;
	position: relative;
}

#footer {
	height: 100px;
	width: 100%;
	border-top: black 1px solid;
}

#foot_scr {
	letter-spacing: 2px;
	line-height: 20px;
	font-size: 12px;
	left: 25px;
	position: relative;
	margin-top: 20px;
}

#blur {
	opacity: 0;
	width: 100%;
	height: 3000px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	transition: 0.5s;
	-webkit-filter : blur(20px);
}

#filter {
	background: white;
	width: 100%;
	height: 3000px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	opacity: 0;
	transition: 0.5s;
	overflow: hidden;
}

#closebtn {
	opacity: 0;
	width: 50px;
	height: 50px;
	position: fixed;
	top: 5%;
	left: 93%;
	cursor: pointer;
	transition: 0.5s;
}

#outer {
	width: 800px;
	height: 600px;
	overflow: hidden;
	position: fixed;
	top: 50%;
	margin-top: -300px;
	left: 50%;
	margin-left: -400px;
	opacity: 0;
	display: none;
	transition: 0.5s;
}

.screen_wr {
	width: 780px;
	height: 460px;
	overflow: hidden;
	position: absolute;
	top: 80px;
	left: 10px;
	border: 2px solid black;
}

.in_screen {
	width: 800px;
	height: 600px;
	overflow: hidden;
	border: 0;
}

.screen_info {
	position: absolute;
	top: 3%;
	left: 2%;
	letter-spacing: 2px;
	line-height: 25px;
	font-size: 13px;
	transition: 0.5s;
}

.screen_set {
	display: none;
}

/*.block {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	position: relative;
	top: -110%;
	left: 0px;
}*/